.Alert {
    position: absolute;
    margin: auto;
    margin: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 40vw;
    z-index: 99;
    background: rgb(255, 127, 80);
    animation: alert 5000ms ease-in-out;
    border-radius: 5px;
}

p {
    font-size: 1.6rem;
    padding: 0;
    color: #000;
}

@keyframes alert {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.2;
    }
}