.MenuToggle {
    position: absolute;
    top: 20px;
    left: calc(100vw - 40px);
    font-size: 25px;
    cursor: pointer;
    color: #000;
    transition: opacity, left .22s ease-in;
    z-index: 100;
}

.MenuToggle:hover {
    opacity: .7;
}

.MenuToggle.open {
    left: calc(100vw - 15rem);
    color: coral;
}